{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.speaker.list' | trans }}</h1>
    <p>
        <a href="{{ path('speaker_new') }}" class="btn btn-primary">
            {{ 'button.create' | trans }}
        </a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'list.number' | trans }}</th>
                <th>{{ 'organization.speaker.name' | trans }}</th>
                <th>{{ 'organization.speaker.lastName' | trans }}</th>
                <th>{{ 'organization.speaker.bio' | trans }}</th>
                <th>{{ 'organization.speaker.phoneNumber' | trans }}</th>
                <th>{{ 'organization.speaker.email' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('speaker_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.bio }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('speaker_show', { 'id': entity.id }) }}">{{ 'button.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('speaker_edit', { 'id': entity.id }) }}">{{ 'button.edit' | trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
