{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'enrollment.person.list' | trans }}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'list.number' | trans }}</th>
                <th>{{ 'enrollment.question.name' | trans }}</th>
                <th>{{ 'enrollment.question.description' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.helpblock }}</td>
                <td>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('question_show', { 'id': entity.id }) }}">{{ 'button.show' | trans}}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
