{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.partner.details' | trans }}</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.name' | trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.email' | trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.url' | trans }}</th>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.phoneNumber' | trans }}</th>
                <td>{{ entity.phoneNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.cities' | trans }}</th>
                <td>
                    {% for city in entity.cities %}
                        <p>{{ city.name }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.description' | trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.partner.resources' | trans }}</th>
                <td>{{ entity.resources }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-left">
         <a class="btn btn-default" href="{{ path('partner_edit', { 'id': entity.id }) }}">
            {{ 'button.edit' | trans }}
        </a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>

{% endblock %}
