<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Organization management{% endblock %}</title>
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Custom styles for this template -->

        {%- stylesheets output='compiled/main.css'
            '%kernel.root_dir%/Resources/public/css/sticky-footer-navbar.css'
        -%}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {%- endstylesheets %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('homepage') }}">{{ 'menu.home' | trans }}</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav navbar-nav">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ url('log') }}">{{ 'menu.logs' | trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ url('user') }}">{{ 'menu.users' | trans }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'menu.enrollment' | trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">{{ 'menu.enrollment.city.1' | trans }}</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('person') }}">{{ 'menu.persons' | trans }}</a></li>
                                <li><a href="{{ url('question') }}">{{ 'menu.questions' | trans }}</a></li>
                                {# <li><a href="{{ url('answer') }}">{{ 'menu.answers' | trans }}</a></li> #}
                                <li class="dropdown-header">{{ 'menu.enrollment.city.others' | trans }}</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'menu.cities' | trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for city in allCities() %}
                                    <li><a href="{{ url('city_show', {'id' : city.id}) }}">{{ city.name }}</a></li>
                                {% endfor %}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ url('city_new') }}">{{ 'button.add' | trans }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'menu.contacts' | trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('speaker') }}">{{ 'menu.speakers' | trans }}</a></li>
                                <li><a href="{{ url('sponsor') }}">{{ 'menu.sponsors' | trans }}</a></li>
                                <li><a href="{{ url('partner') }}">{{ 'menu.partners' | trans }}</a></li>
                                <li><a href="{{ url('helper') }}">{{ 'menu.helpers' | trans }}</a></li>
                                <li><a href="{{ url('place') }}">{{ 'menu.places' | trans }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'menu.meetings' | trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('topic') }}">{{ 'menu.topics' | trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url('topic_new') }}">{{ 'button.add' | trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'menu.account' | trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'menu.log.out' | trans }}</a></li>
                      {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'menu.log.in' | trans }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'menu.register' | trans }}</a></li>
                      {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Begin page content -->
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    Powered by <a href="https://symfony.com/">Symfony</a>.
                    Wrtten by <a href="http://nataliastanko.com/">Natalia Stanko</a>.
                </p>
            </div>
        </footer>
        {% block javascripts %}

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

            {%- javascripts output='compiled/main.js'
                '%kernel.root_dir%/Resources/public/js/ie10-viewport-bug-workaround.js'
            -%}
                <script src='{{ asset_url }}'></script>
            {%- endjavascripts %}
        {% endblock %}
    </body>
</html>