{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'user.list' | trans }}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'list.number' | trans }}</th>
                <th>{{ 'user.city' | trans }}</th>
                <th>{{ 'user.name' | trans }}</th>
                <th>{{ 'user.lastName' | trans }}</th>
                <th>{{ 'user.email' | trans }}</th>
                <th>{{ 'user.phoneNumber' | trans }}</th>
                <th>{{ 'user.url' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for i, entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if entity.city %}{{ entity.city.name }}{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">{{ 'button.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ 'button.edit' | trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') and app.user.id != entity.id %}
                        {% if entity.enabled %}
                            <li>
                                <a href="{{ path('user_enabled', { 'id': entity.id, 'enabled': 0 }) }}">{{ 'button.disable' | trans }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('user_enabled', { 'id': entity.id, 'enabled': 1 }) }}">{{ 'button.enable' | trans }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
