{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'user.details' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'user.name' | trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'user.lastName' | trans }}</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>{{ 'user.city' | trans }}</th>
                <td>{{ entity.city.name }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email' | trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{{ 'user.phoneNumber' | trans }}</th>
                <td>{{ entity.phoneNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'user.url' | trans }}</th>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('user_edit', { 'id': entity.id }) }}">
        {{ 'button.edit' | trans }}
    </a>

    {# {{ form(delete_form) }} #}
</ul>
{% endblock %}
