
    <h1>{{ 'organization.management.topic.list' | trans }}</h1>
    <p>
        <a href="{{ path('topic_new') }}" class="btn btn-primary">
            {{ 'button.create' | trans }}
        </a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'list.number' | trans }}</th>
                <th>{{ 'organization.management.topic.name' | trans }}</th>
                <th>{{ 'organization.management.topic.description' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('topic_show', { 'id': entity.id }) }}">{{ 'button.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('topic_edit', { 'id': entity.id }) }}">{{ 'button.edit' | trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

