{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'organization.management.meeting.list' | trans }}</h1>
    <p>
        <a href="{{ path('meeting_new') }}" class="btn btn-primary">
            {{ 'button.create' | trans }}
        </a>
    </p>

    {% if entities is not empty %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ 'list.number' | trans }}</th>
                    <th>{{ 'organization.management.meeting.name' | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('meeting_show', { 'id': entity.id }) }}">{{ 'button.show' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('meeting_edit', { 'id': entity.id }) }}">{{ 'button.edit' | trans }}</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
