{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'organization.management.meeting.add' | trans }}</h1>

    {% include 'OrganizationManagementBundle:Meeting:_form.html.twig' %}
{% endblock %}
