{% extends '::base.html.twig' %}

{% block body -%}

    <div class="header">
        <h1>{{ 'organization.management.sponsor.details' | trans }}</h1>
        <div class="button-back">
             <a class="btn btn-default" href="{{ path('sponsor') }}">
                {{ 'button.back' | trans }}
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.name' | trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.email' | trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.phoneNumber' | trans }}</th>
                <td>{{ entity.phoneNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.url' | trans }}</th>
                <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.facebookUrl' | trans }}</th>
                <td><a href="{{ entity.facebookUrl }}">{{ entity.facebookUrl }}</a></td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.cities' | trans }}</th>
                <td>
                    {% for city in entity.cities %}
                        <p>{{ city.name }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.description' | trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'organization.management.sponsor.resources' | trans }}</th>
                <td>{{ entity.resources }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-left">
         <a class="btn btn-default" href="{{ path('sponsor_edit', { 'id': entity.id }) }}">
            {{ 'button.edit' | trans }}
        </a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}
