{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'enrollment.answer.details' | trans }}</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'enrollment.question.name' | trans }}</th>
                <td>{{ entity.question.name }}</td>
            </tr>
            <tr>
                <th>{{ 'enrollment.answer.content' | trans }}</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-unstyled">
    <li>
        <a href="{{ path('answer') }}">
            {{ 'button.back' | trans }}
        </a>
    </li>
</ul>
{% endblock %}
